//= require puffer/codemirror
//= require_tree ./codemirror

#page_parts li
{
  margin-bottom: 0;
}

#page_parts .rui-tabs-panel
{
  padding: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 300px;
}
